body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #1B1B1B;
    border-radius: 0 0 15px 15px;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    font-weight: 400;
}

.leftside,
.rightside {
    display: flex;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hamburger butonu başlangıçta gizli */
.menuToggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Mobil için */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        align-items: flex-start;
    }

    .leftside,
    .rightside {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        display: none;
        /* Başlangıçta gizli */
    }

    .navbar.active .leftside,
    .navbar.active .rightside {
        display: flex;
        /* active class ile görünür olur */
    }

    .menuToggle {
        display: block;
    }
}